:root {
  --text-color: violet;
  --color-h1: red;
}

p {
  color: var(--text-color);
}

h1 {
  color: var(--color-h1);
}

html,
body {
  margin: 0;
}
.box {
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: #333;
  margin-left: 20px;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: red;
  padding: 10px;

  border-width: 10px;
  border-style: solid;
  border-color: #333;
  margin: 10px;
}
